*{
	margin:0;
	padding: 0;
	font-family: Roboto, sans-serif;
}
nav {
	text-align: center;
	padding: 30px 0;
	background-color: #3a89ec;
}
ul {
	list-style: none;
}
li {
	display: inline-block;
	margin: 0 10px;
}
a {
	font-size: 0.9rem;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}