.banner
  .banner-slide(style="background-image: url('assets/images/banner-1.png')")
    .anna-container
      .banner-slide__content
        .banner-slide__content-wrapper
          .row
            .col-12.col-lg-10
              p Don't change to be trendy. Change the fashion to suit you
              a(href="#") Click here
  .banner-slide(style="background-image: url('assets/images/banner-2.png')")
    .anna-container
      .banner-slide__content
        .banner-slide__content-wrapper
          p Don't change to be trendy. Change the fashion to suit you
          a(href="#") Click here
