.footer
  .anna-container
    .row
      .col-4
        .footer-contact
          .footer-title
            h3 Liên hệ
          ul.footer-contact__info
            li
              i.fas.fa-map-marker-alt
              |20 PHẠM VĂN ĐỒNG,CẦU GIẤY,HÀ NỘI 
            li
              i.fas.fa-mobile-alt
              |0388891700 
            li
              i.far.fa-envelope
              |annashop123@gmail.com 
          ul.footer-contact__social
            li
              a(href="#")
                i.fab.fa-facebook
            li
              a(href="#")
                i.fab.fa-instagram
            li
              a(href="#")
                i.fab.fa-youtube
      .col-4
        .footer-support
          .footer-title
            h3 Hỗ trợ
          ul.footer-links
            li
              a(href="#") Trang chủ 
            li
              a(href="contact.html") Liên hệ
      .col-4
        .footer-product
          .footer-title
            h3 Sản phẩm
          ul.footer-links
            li
              a(href="#") Áo dài truyền thống 
            li
              a(href="#") Áo dài truyền thống 
            li
              a(href="#") Áo dài cách tân nam 
            li
              a(href="#") Áo dài cưới 
            li
              a(href="#") Áo dài cô ba sài gòn 