.header
  .anna-container
    .header-wrapper
      a.header-logo(href="index.html")
        img(src="https://i1.wp.com/www.writefromscratch.com/wp-content/uploads/2018/12/demo-logo.png?ssl=1", alt="Logo")
      ul.header-navigator
        li
          a(href="index.html") Trang Chủ
        li
          a(href="introduction.html") Giới thiệu
        li
          a(href="index.html") Sản phẩm
        li
          a(href="promo.html") Khuyến mại
        li
          a(href="news.html") Tin tức
      .header-search
        input(type="text" placeholder="Tìm kiếm")
        button
          i.fal.fa-search
      .header-feature
        a(href="#")
          i.fas.fa-phone-alt
        a(href="#")
          i.fas.fa-user
        a(href="#")
          i.fas.fa-heart
        a(href="#")
          i.fas.fa-shopping-cart