.header
  .anna-container
    .header-wrapper
      include cart-modal.pug
      a.header-logo(href="index.html")
        img(src="assets/images/logo.png", alt="Logo")
      ul.header-navigator
        li
          a(href="index.html") Trang Chủ
        li
          a(href="introduction.html") Giới thiệu
        li
          a(href="index.html") Sản phẩm
            i.fal.fa-angle-down(style='margin-left: 5px')
          ul.header-navigator__dropdown
            li
              a(href="ao-dai-truyen-thong-1.html") Áo dài truyền thống
            li
              a(href="ao-dai-cach-tan-nu-1.html") Áo dài cách tân nữ    
            li
              a(href="ao-dai-cach-tan-nam.html") Áo dài cách tân nam
            li
              a(href="ao-dai-cuoi-1.html") Áo dài cưới
            li
              a(href="ao-dai-co-ba-sai-gon-1.html") Áo dài cô ba sài gòn
        li
          a(href="promo.html") Khuyến mãi
        li
          a(href="news.html") Tin tức
      .header-search
        input(type="text" placeholder="Tìm kiếm")
        button
          i.fal.fa-search
      .header-feature
        a(href="tel:0395390668")
          i.fas.fa-phone-alt
        a(href="login.html")
          i.fas.fa-user
        a(href="wishlist.html")
          i.fas.fa-heart
        a#cart-controller(href="cart.html")
          i.fas.fa-shopping-cart