.about {
  margin-bottom: $section-spacing;
  &-wrapper {
    padding: 0 135px;
  }
  &-section {
    img {
      @include imgCenter;
    }
    p {
      @include typo($fsz: 18px, $lh: 26px);
      text-indent: 20px;
    }
  }
}
