.login {
  padding: 128px 0 26px;
  h2 {
    @include typo($fsz: 35px, $up: true);
    margin-bottom: 50px;
  }
  &-form {
    background-color: #f2f2f2;
    padding: 100px 155px;
    text-align: center;
    input {
      width: 100%;
      height: 70px;
      border: 1px solid #bdbdbd;
      margin-bottom: 22px;
      padding: 0 30px;
    }
    .form-helpers {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      margin-bottom: 30px;
      a {
        @include link($color: setShadeColor(medium));
      }
    }
    .form-btn {
      button,
      a {
        height: 50px;
        width: 100%;
        display: block;
        text-transform: uppercase;
      }
      button {
        background-color: #e0e0e0;
        transition: $transition;
        border: 0;
        border-radius: 3px;
        margin-bottom: 25px;
        &:hover {
          background-color: red;
          color: white;
        }
      }
      a {
        @include link($fw: 500);
      }
    }
  }
}
