* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', sans-serif;
}

.container {
    max-width: 100%;
    padding: 0 50px;
}

a {
    text-decoration: none;
}

input {
    padding: 10px 15px;
    width: 100%;
    border: 1px solid #dedede; 
}

input:focus {
    outline: 0;
    border: 1px solid #aeaeae;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
}

.danger {
    color: #ff7e67;
}

.success {
    color: #40aa26
}

table {
    border-collapse: collapse;
    width: 100%;
}

table thead .table-header {
    background-color: #000;
}

table thead .table-search {
    background-color: #f8f8f8;
    
}

#search {
    width: 500px;
    margin-bottom: 30px;
    padding: 15px 20px;
}

table thead tr th {
    padding: 20px 15px;
}

table thead .table-header th {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    position: relative;
}

table thead .table-header .sortable {
    cursor: pointer;
}

table thead .table-header .sortable:hover:after {
    display: block;
}

table thead tr .sortable:after {
    content: "";
    display: none;
    position: absolute;
    background-image: url('image/sort.svg');
    background-repeat: no-repeat;
    height: 15px;
    width: 10px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
}

table tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
} 

table tbody tr td {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 15px;
    text-align: left;
}

.function-icon {
    color: #333;
}

.function-icon i {
    margin-right: 5px;
}

.function-icon.edit {
    color: #40aa26;
}

.function-icon.remove {
    color: #ff7e67;
}

.function-icon.edit:after {
    content: "|";
    margin: 0 10px;
    color: #333;
}

.highlight {
    background-color: yellow;
}