.header {
  padding: 20px 0 75px;
  border-bottom: 1px solid setShadeColor(border);
  &-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  &-logo {
    img {
      @include imgCenter($width: 125px, $type: contain);
    }
  }
  &-navigator {
    list-style: none;
    & > li {
      display: inline-block;
      position: relative;
      &:hover {
        & > a {
          color: red;
        }
        .header-navigator__dropdown {
          opacity: 1;
          visibility: visible;
        }
      }
      &:not(:last-child) {
        margin-right: 20px;
      }
      & > a {
        @include link($fsz: 20px, $up: true);
      }
      .header-navigator__dropdown {
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        background-color: #fff;
        list-style: none;
        width: 300px;
        opacity: 0;
        visibility: hidden;
        transition: $transition;
        border: 1px solid setShadeColor(border);
        z-index: 10;
        li {
          padding: 15px 20px;
          border-bottom: 1px solid setShadeColor(border);
          a {
            @include link($fsz: 16px);
          }
        }
      }
    }
  }
  &-search {
    position: relative;
    input {
      height: 30px;
      width: 300px;
      font-size: 12px;
      padding: 0 10px;
      color: setShadeColor(dark);
      border: 1px solid setShadeColor(medium);
      border-radius: 3px;
    }
    button {
      position: absolute;
      right: 0;
      height: 30px;
      width: 30px;
      background-color: #000;
      border: 0;
      border-radius: 3px;
      color: #fff;
    }
  }
  &-feature {
    a {
      @include link($fsz: 16);
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}
