
<div class="banner">
  <div class="banner-slide" style="background-image: url('assets/images/banner.png')">
    <div class="mode-container">
      <div class="banner-slide__content">
        <div class="banner-slide__content-wrapper">
          <div class="row">
            <div class="col-12 col-lg-10">
              <h3>Sale 20% off</h3>
              <h5>today</h5><a href="shop-sales.html">Check it out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>