
<div class="footer">
  <div class="footer-top">
    <div class="mode-container">
      <div class="row">
        <div class="col-4">
          <div class="footer-contact">
            <div class="footer-title">
              <h3>About us</h3>
            </div>
            <ul class="footer-links">
              <li><a href="our-story.html">Our Story</a></li>
              <li><a href="#">Our Designers</a></li>
              <li><a href="#">Our Factory</a></li>
            </ul>
          </div>
        </div>
        <div class="col-4">
          <div class="footer-support">
            <div class="footer-title">
              <h3>Contact us</h3>
            </div>
            <ul class="footer-links">
              <li><a href="#">Our Company</a></li>
              <li><a href="contact.html">Follow Us</a></li>
              <li><a href="contact.html">Stories</a></li>
            </ul>
          </div>
        </div>
        <div class="col-4">
          <div class="footer-product">
            <div class="footer-title">
              <h3>Help</h3>
            </div>
            <ul class="footer-links">
              <li><a href="#">Terms and Conditions</a></li>
              <li><a href="contact.html">FAQs</a></li>
              <li><a href="contact.html">Got question</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-credit">
    <div class="mode-container">
      <div class="footer-credit-wrapper"><img class="footer-credit__logo" src="assets/images/small-logo.png" alt="Logo"/>
        <p>ONLY FOR DEMO PURPOSE</p>
        <ul class="footer-credit__social">
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>