
<div class="introduction">
  <div class="anna-container">
    <div class="introduction-section">
      <div class="row no-gutters align-items-center">
        <div class="col-6">
          <div class="introduction-section__image"><img src="assets/images/introduction-1.png" alt="Introduction image"/></div>
        </div>
        <div class="col-6">
          <div class="introduction-section__content">
            <div class="product "><a class="product-img" href="product-detail.html"><img alt="Product image"/></a>
              <div class="product-content__wrapper">
                <div class="product-content"><a class="product-name" href="product-detail.html">Bộ áo dài cưới thêu họa tiết</a>
                  <h5 class="product-price">530000</h5>
                </div>
                <div class="product-status">
                  <h5 class="green">AVAILABLE</h5>
                  <h5><i class="fas fa-star"></i>undefined/5
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="introduction-section">
      <div class="row no-gutters align-items-center">
        <div class="col-6">
          <div class="introduction-section__content">
            <div class="product "><a class="product-img" href="product-detail.html"><img alt="Product image"/></a>
              <div class="product-content__wrapper">
                <div class="product-content"><a class="product-name" href="product-detail.html">Bộ áo dài cưới thêu họa tiết</a>
                  <h5 class="product-price">750000</h5>
                </div>
                <div class="product-status">
                  <h5 class="green">AVAILABLE</h5>
                  <h5><i class="fas fa-star"></i>undefined/5
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="introduction-section__image"><img src="assets/images/introduction-2.png" alt="Introduction image"/></div>
        </div>
      </div>
    </div>
  </div>
</div>