
<div class="introduction">
  <div class="anna-container">
    <div class="introduction-section">
      <div class="row no-gutters align-items-center">
        <div class="col-6">
          <div class="introduction-section__image"><img src="assets/images/introduction-1.png" alt="Introduction image"/></div>
        </div>
        <div class="col-6">
          <div class="introduction-section__content">
            <div class="product">
              <div class="product-content"><a class="product-name" href="product-detail.html">Bộ áo dài cưới thêu họa tiết</a>
                <h5 class="product-price">530.000đ</h5>
              </div>
              <div class="product-actions">
                <button class="product-actions__atc" href="#">Thêm vào giỏ hàng<i class="fa fa-shopping-cart"></i></button>
                <button class="product-actions__wl" href="#"><i class="far fa-heart"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="introduction-section">
      <div class="row no-gutters align-items-center">
        <div class="col-6">
          <div class="introduction-section__content">
            <div class="product">
              <div class="product-content"><a class="product-name" href="product-detail.html">Bộ áo dài cưới thêu họa tiết</a>
                <h5 class="product-price">750.000đ</h5>
              </div>
              <div class="product-actions">
                <button class="product-actions__atc" href="#">Thêm vào giỏ hàng<i class="fa fa-shopping-cart"></i></button>
                <button class="product-actions__wl" href="#"><i class="far fa-heart"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="introduction-section__image"><img src="assets/images/introduction-2.png" alt="Introduction image"/></div>
        </div>
      </div>
    </div>
  </div>
</div>