
<div class="relate-products">
  <div class="anna-container">
    <div class="section-title">
      <h5>Sản phẩm tương tự</h5>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-3">
          <div class="product"><a class="product-img" href="product-detail.html"><img src="assets/images/products/1.png" alt="Product image"/></a>
            <div class="product-content"><a class="product-name" href="product-detail.html">Áo dài lụa vàng họa tiết</a>
              <h5 class="product-price">350.000đ</h5>
            </div>
            <div class="product-actions">
              <button class="product-actions__atc" href="#">Thêm vào giỏ hàng<i class="fa fa-shopping-cart"></i></button>
              <button class="product-actions__wl" href="#"><i class="far fa-heart"></i></button>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="product"><a class="product-img" href="product-detail.html"><img src="assets/images/products/2.png" alt="Product image"/></a>
            <div class="product-content"><a class="product-name" href="product-detail.html">Áo dài lụa hồng thêu hoa</a>
              <h5 class="product-price">380.000đ</h5>
            </div>
            <div class="product-actions">
              <button class="product-actions__atc" href="#">Thêm vào giỏ hàng<i class="fa fa-shopping-cart"></i></button>
              <button class="product-actions__wl" href="#"><i class="far fa-heart"></i></button>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="product"><a class="product-img" href="product-detail.html"><img src="assets/images/products/3.png" alt="Product image"/></a>
            <div class="product-content"><a class="product-name" href="product-detail.html">Áo dài lụa vàng họa tiết</a>
              <h5 class="product-price">400.000đ</h5>
            </div>
            <div class="product-actions">
              <button class="product-actions__atc" href="#">Thêm vào giỏ hàng<i class="fa fa-shopping-cart"></i></button>
              <button class="product-actions__wl" href="#"><i class="far fa-heart"></i></button>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="product"><a class="product-img" href="product-detail.html"><img src="assets/images/products/4.png" alt="Product image"/></a>
            <div class="product-content"><a class="product-name" href="product-detail.html">Áo dài lụa in hoa cỏ</a>
              <h5 class="product-price">550.000đ</h5>
            </div>
            <div class="product-actions">
              <button class="product-actions__atc" href="#">Thêm vào giỏ hàng<i class="fa fa-shopping-cart"></i></button>
              <button class="product-actions__wl" href="#"><i class="far fa-heart"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>