$title: #293a54;
$subtitle: #7a848c;
$line: #f3f4f6;
$blue: #2c64e7;
$green: #6aad38;
//Size
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1400px;
$xxl: 1700px;

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

@mixin mq($canvas) {
  @if $canvas == $xs {
    @media only screen and (max-width: $xs) {
      @content;
    }
  } @else if $canvas == $sm {
    @media only screen and (max-width: $sm) {
      @content;
    }
  } @else if $canvas == $md {
    @media only screen and (max-width: $md) {
      @content;
    }
  } @else if $canvas == $lg {
    @media only screen and (max-width: $lg) {
      @content;
    }
  } @else if $canvas == $xl {
    @media only screen and (max-width: $xl) {
      @content;
    }
  } @else if $canvas == $xxl {
    @media only screen and (max-width: $xxl) {
      @content;
    }
  }
}

.main-content {
  display: flex;
  align-items: flex-start;

  .table-wrapper {
    flex: 1 1 80%;
    max-width: 80%;
    padding-right: 30px;
    margin-bottom: 30px;
    .table-responsive {
      margin-bottom: 30px;
      .table {
        border-collapse: separate;
        border-spacing: 0 5px;
        width: 100%;

        @include mq($md) {
          min-width: 960px;
        }
        tr {
          background-color: #fff;

          td,
          th {
            padding: 10px 30px;
            vertical-align: middle;
            @include mq($xl) {
              padding: 10px 20px;
            }
            &:first-child {
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
            }
            &:last-child {
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            }
          }

          td {
            .day-col {
              display: flex;
              align-items: center;
              .day {
                font-size: 32px;
                font-weight: 500;
                color: $blue;
                float: left;
                margin-right: 2;
              }
              .month_block {
                .month {
                  font-size: 14px;
                  line-height: 15px;
                  &:last-child {
                    color: $blue;
                  }
                }
              }
            }
            .table-wrapperddress-col {
              h5 {
                font-size: 15px;
                font-weight: 500;
                color: $title;
                margin-bottom: 5px;
              }
              p {
                font-size: 14px;
                color: $subtitle;
              }
            }
            .schichtname-col {
              font-size: 15px;
              color: $subtitle;
            }
            .time-col {
              display: flex;
              align-items: center;
              font-size: 15px;
              color: $subtitle;
              i {
                margin-right: 10px;
              }
            }
            .pause-col {
              @extend .schichtname-col;
            }
            .total-col {
              @extend .schichtname-col;
              color: $blue;
              font-weight: 500;
            }
          }
        }
        thead {
          tr {
            margin-bottom: 5px;
            box-shadow: 0px 1px 4px rgba(62, 79, 93, 0.163462);
            &.table-row_header {
              th {
                padding: 17px 30px;
                font-size: 17;
                font-weight: 600;
                color: $title;
                @include mq($xl) {
                  padding: 15px 20px;
                }
                &.today {
                  color: $blue;
                }
              }
            }
          }
        }
      }
    }
    .table-footer {
      display: flex;
      justify-content: space-between;
      color: $subtitle;
      @include mq($sm) {
        flex-wrap: wrap;
        .showing-item,
        .timing-detail {
          flex: 1 1 50%;
          max-width: 50%;
        }
        .timing-detail {
          text-align: right;
        }
        .pagination {
          margin-top: 15px;
          flex: 1 1 100%;
          max-width: 100%;
          justify-content: center;
        }
      }

      .showing-item {
        span {
          color: $title;
        }
      }
      .pagination {
        ul {
          padding-left: 25;
          li {
            list-style: none;
            display: inline-block;
            a {
              padding: 5px 8px;
              color: #bdc0c2;
              border: 1px solid #bdc0c2;
              border-radius: 3px;
              &.active {
                background-color: $blue;
                color: #fff;
                border-color: transparent;
              }
              &:hover {
                background-color: $blue;
                color: #fff;
                border-color: transparent;
              }
            }
          }
        }
      }
    }
  }
  .control-card {
    flex: 1 1 20%;
    max-width: 20%;
    // width: 330px;
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(62, 79, 93, 0.163462);
    border-radius: 10px;
    .control-card_header {
      height: 180px;
      position: relative;
      overflow: hidden;
      .search-box {
        position: absolute;
        bottom: 15px;
        left: 20px;
        right: 20px;
        input {
          width: 100%;
          position: relative;
          background-color: #fff;
          background-image: url("../images/direction.png");
          background-size: 14px;
          background-repeat: no-repeat;
          background-position: 15px center;
          border: 0;
          padding: 8px 0;
          padding-left: 40px;
        }
      }
    }
    .control-card_content {
      text-align: center;
      padding: 30px;
      .range-time {
        font-size: 24px;
        color: $blue;
        font-weight: 300;
        margin-bottom: 5px;
      }
      .place {
        font-size: 15px;
        color: $title;
        margin-bottom: 20px;
      }
      .time-select {
        input {
          background-color: $line;
          border: 0;
          color: $subtitle;
          padding: 6px;
          font-size: 15px;
        }
        .date-picker {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          input {
            max-width: 48%;
            padding-left: 35px;
            background: {
              image: url("../images/calendar.png");
              repeat: no-repeat;
              size: 14px;
              position: 12px center;
            }
          }
        }
        .time-picker {
          @extend .date-picker;
          align-items: center;
          input {
            background-image: url("../images/clock.png");
            max-width: 43%;
          }
        }
      }
    }
    .button {
      display: block;
      padding: 10px;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
      background-color: $green;
      text-decoration: none;
      transition: 0.2s ease;
      &.button-blue {
        background-color: $blue;
        &:hover {
          background-color: darken($blue, $amount: 5);
        }
      }
      &:hover {
        background-color: darken($green, $amount: 5);
      }
    }
  }

  @include mq($xxl) {
    .table-wrapper {
      flex: 1 1 70%;
      max-width: 70%;
    }
    .control-card {
      flex: 1 1 30%;
      max-width: 30%;
    }
  }
  @include mq($xl) {
    .table-wrapper {
      flex: 1 1 65%;
      max-width: 65%;
    }
    .control-card {
      flex: 1 1 35%;
      max-width: 35%;
    }
  }
  @include mq($lg) {
    .table-wrapper {
      flex: 1 1 70%;
      max-width: 70%;
    }
    .control-card {
      flex: 1 1 30%;
      max-width: 30%;
    }
  }
  @include mq($md) {
    flex-direction: column;
    .table-wrapper {
      order: 2;
      padding-right: 0;
      flex: 1 1 100%;
      max-width: 100%;
    }
    .control-card {
      order: 1;
      flex: 1 1 330px;
      max-width: 330px;
      margin-bottom: 50;
    }
  }
  @include mq($sm) {
    flex-direction: column;
    .table-wrapper {
      flex: 1 1 100%;
      max-width: 100%;
      padding-right: 0;
    }
    .control-card {
    }
  }
  @include mq($xs) {
    flex-direction: column;
    .table-wrapper {
      flex: 1 1 100%;
      max-width: 100%;
      margin-bottom: 30px;
    }
    .control-card {
      flex: 1 1 100%;
      max-width: 100%;
      margin-bottom: 30;
    }
  }
}
