.banner
  .banner-slide(style="background-image: url('assets/images/banner.png')")
    .mode-container
      .banner-slide__content
        .banner-slide__content-wrapper
          .row
            .col-12.col-lg-10
              h3 Sale 20% off
              h5 today
              a(href="shop-sales.html") Check it out