.footer
  .footer-top
    .mode-container
      .row
        .col-4
          .footer-contact
            .footer-title
              h3 About us
            ul.footer-links
              li
                a(href="our-story.html") Our Story
              li
                a(href="our-story.html") Our Designers
              li
                a(href="our-story.html") Our Factory
        .col-4
          .footer-support
            .footer-title
              h3 Contact us
            ul.footer-links
              li
                a(href="contact-us.html") Our Company
              li
                a(href="contact-us.html") Follow Us
              li
                a(href="contact-us.html") Stories
        .col-4
          .footer-product
            .footer-title
              h3 Help
            ul.footer-links
              li
                a(href="help.html") Terms and Conditions
              li
                a(href="help.html") FAQs
              li
                a(href="help.html") Got question
  .footer-credit
    .mode-container
      .footer-credit-wrapper
        img.footer-credit__logo(src="assets/images/small-logo.png", alt="Logo")
        p ONLY FOR DEMO PURPOSE
        ul.footer-credit__social
          li
            a(href="#")
              i.fab.fa-facebook-f
          li
            a(href="#")
              i.fab.fa-instagram
          li
            a(href="#")
             i.fab.fa-twitter
