.header
  .header-top
    .mode-container-wide
      .header-wrapper
        a.header-logo(href="index.html")
          img(src="https://www.hutsix.io/wp-content/uploads/2019/07/HUT6_LOGO_white_all.svg", alt="Logo")
        .header-features
          .header-features__top
            .header-features__top-auth
              a(href="#") SIGN IN
              span |
              a(href="#") SIGN UP
            .header-features__top-icons
              a(href="cart.html")
                i.fas.fa-shopping-cart
              a(href="wishlist.html")
                i.fas.fa-heart
          .header-features__bottom
            button
              i.fas.fa-search
            input(type="text" placeholder="Search")
  .header-bottom
    .mode-container-wide
      ul.menu
        li
          a(href="shop-clothing.html") NEW ARRIVALS
        li
          a(href="shop-sales.html") SALES
        li
          a(href="shop-clothing.html") CLOTHINGS
        li
          a(href="shop-accessories.html") ACCESSORIES
        li
          a(href="shop-collection.html") COLLECTIONS
    