header {
    padding: 43px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.3s ease-in-out;
    z-index: 10;

    &.isFixed {
        background-color: #fff;
        padding: 20px 0;
        box-shadow: 0px 7px 48px -12px rgba(0, 0, 0, 0.15);
    }

    &.isMobile {
        @extend .isFixed;

        &.isFixed {
            .header-logo {
                img {
                    max-height: 40px;
                }
            }
        }

        .header-content {
            nav {
                position: fixed;
                left: -100%;
                top: 0;
                bottom: 0;
                background-color: #fff;
                padding: 50px 30px;
                width: 300px;
                transition: 0.3s ease-in-out;

                ul {
                    li {
                        margin: 0;
                        display: block;
                        margin-bottom: 60px;

                        a {
                            font-size: 22px;
                        }

                        &:before {
                            transform: none;
                            position: inherit;
                            width: 0;
                            height: 2px;
                            top: 11px;
                            background-color: setScheme(light);
                        }

                        &.active {
                            &:before {
                                width: 30px;
                                transform: none;
                            }

                            a {
                                margin-left: 50px;
                            }
                        }
                    }
                }

                &.isOpen {
                    left: 0;
                    box-shadow: 3px 0px 38px -9px rgba(0, 0, 0, 0.15);
                }
            }

            .open-nav-btn {
                display: block;
            }
        }
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-logo {
            img {
                max-height: 64px;
                transition: 0.3s ease;
            }
        }

        nav {
            ul {
                li {
                    display: inline-block;
                    margin: 0 40px;
                    position: relative;

                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 5px;
                        height: 1px;
                        width: 100%;
                        background-color: setScheme(darker);
                        transition: 0.3s ease-in-out;
                        transform: rotate(-17deg) scale(0);
                    }

                    &.active {
                        &:before {
                            transform: rotate(-17deg) scale(1);
                        }
                    }

                    &:hover {
                        &:before {
                            transform: rotate(-17deg) scale(1);
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    &:first-child {
                        margin-left: 0;
                    }

                    a {
                        @include link($hvr-color: setScheme(darker), $tt:true);
                    }
                }
            }
        }

        .open-nav-btn {
            display: none;
            cursor: pointer;


            .line {
                height: 1px;
                background-color: setScheme(medium);
                width: 35px;
                margin-bottom: 10px;
                transition: 0.3s ease;
                transform-origin: 0 0;

                &:last-child {
                    margin-bottom: 0;
                }


            }

            &.active {
                .line {
                    &:first-child {
                        transform: rotate(40deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:last-child {
                        transform: rotate(-40deg);

                    }
                }
            }

        }
    }
}