.banner-wrapper {
    .skills-summary {
        margin-top: -200px;
        margin-bottom: 100px;

        .skill-cards {
            margin: 0 -15px;

            .skill-card_wrapper {
                padding: 15px;

                .skill-card {
                    padding: 30px;
                    position: relative;
                    box-shadow: -1px 4px 11px 0px rgba(0, 0, 0, 0.2);
                    background-color: #fff;
                    border-radius: 5px;
                    height: 395px;


                    .skill-card_content {
                        padding: 45px 30px 100px;
                        border: 1px solid $base;
                        border-radius: 3px;
                        overflow: hidden;
                        height: 100%;

                        h3 {
                            @include typo($fsz: 50px, $fw:500, $color: setScheme(dark), $lh: 45px, $tt: true);
                            margin-bottom: 40px;
                        }

                        p {
                            @include typo($fsz: 22px, $color: setScheme(medium), $lh: 30px);
                        }

                        .icon {
                            position: absolute;
                            bottom: 0px;
                            right: 0;

                            svg {
                                fill: $base;
                                stroke: $base;
                                opacity: 0.25;
                            }
                        }
                    }
                }
            }
        }
    }

}