.product {
  position: relative;
  &:hover {
    .product-img {
      img {
        transform: scale(1.05) rotate(1deg);
      }
    }
  }
  &-img {
    display: block;
    margin-bottom: 17px;
    overflow: hidden;
    img {
      @include imgCenter();
      transition: $transition;
    }
  }
  &-content {
    a {
      @include link($fsz: 14px, $fw: 500);
      display: block;
      margin-bottom: 8px;
    }
    del {
      @include typo($fsz: 14px, $fw: 500);
      display: inline-block;
      margin-right: 10px;
    }
    h5 {
      @include typo($fsz: 14px, $fw: 500);
      display: inline-block;
      margin-bottom: 20px;
      &.-discount {
        color: #f94a41;
      }
    }
  }
  &-status {
    display: flex;
    justify-content: space-between;
    h5 {
      @include typo($fsz: 14px);
      &:first-child {
        &.red {
          color: #f94a41;
        }
        &.green {
          color: #04af30;
        }
      }
      &:last-child {
        i {
          margin-right: 5px;
        }
      }
    }
  }
  &-wishlist {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    @include link($fsz: 20px);
  }
  &.-bordered {
    .product-img {
      margin-bottom: 0;
    }
    .product-content__wrapper {
      padding: 25px 15px;
      border: 1px solid #bcbec0;
      margin-top: -10px;
    }
  }
}
