.product {
  &:hover {
    .product-img {
      img {
        transform: scale(1.05) rotate(1deg);
      }
    }
  }
  &-img {
    display: block;
    margin-bottom: 17px;
    overflow: hidden;
    img {
      @include imgCenter();
      transition: $transition;
    }
  }
  &-content {
    a {
      @include link($fsz: 14px, $fw: 500);
      display: block;
      margin-bottom: 8px;
    }
    h5 {
      @include typo($fsz: 14px, $fw: 500);
      margin-bottom: 20px;
    }
  }
  &-status {
    display: flex;
    justify-content: space-between;
    h5 {
      @include typo($fsz: 14px);
      &:first-child {
        &.red {
          color: #f94a41;
        }
        &.green {
          color: #04af30;
        }
      }
      &:last-child {
        i {
          margin-right: 5px;
        }
      }
    }
  }
}
