@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.anna-container {
  max-width: 1440px;
  @include make-container($gutter: 40px);
  @include media-breakpoint-down(md) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
