
<div class="banner">
  <div class="banner-slide" style="background-image: url('assets/images/banner-1.png')">
    <div class="anna-container">
      <div class="banner-slide__content">
        <div class="banner-slide__content-wrapper">
          <div class="row">
            <div class="col-12 col-lg-10">
              <p>Don't change to be trendy. Change the fashion to suit you</p><a href="#">Click here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-slide" style="background-image: url('assets/images/banner-2.png')">
    <div class="anna-container">
      <div class="banner-slide__content">
        <div class="banner-slide__content-wrapper">
          <p>Don't change to be trendy. Change the fashion to suit you</p><a href="#">Click here</a>
        </div>
      </div>
    </div>
  </div>
</div>