
<div class="footer">
  <div class="anna-container">
    <div class="row">
      <div class="col-4">
        <div class="footer-contact">
          <div class="footer-title">
            <h3>Liên hệ</h3>
          </div>
          <ul class="footer-contact__info">
            <li><i class="fas fa-map-marker-alt"></i>20 PHẠM VĂN ĐỒNG,CẦU GIẤY,HÀ NỘI </li>
            <li><i class="fas fa-mobile-alt"></i>0388891700 </li>
            <li><i class="far fa-envelope"></i>annashop123@gmail.com </li>
          </ul>
          <ul class="footer-contact__social">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <div class="footer-support">
          <div class="footer-title">
            <h3>Hỗ trợ</h3>
          </div>
          <ul class="footer-links">
            <li><a href="index.html">Trang chủ </a></li>
            <li><a href="contact.html">Liên hệ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <div class="footer-product">
          <div class="footer-title">
            <h3>Sản phẩm</h3>
          </div>
          <ul class="footer-links">
            <li><a href="ao-dai-truyen-thong-1.html">Áo dài truyền thống </a></li>
            <li><a href="ao-dai-cach-tan-nu-1.html">Áo dài cách tân nữ</a></li>
            <li><a href="ao-dai-cach-tan-nam.html">Áo dài cách tân nam </a></li>
            <li><a href="ao-dai-cuoi-1.html">Áo dài cưới </a></li>
            <li><a href="ao-dai-co-ba-sai-gon-1.html">Áo dài cô ba sài gòn </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>