
<div class="footer">
  <div class="anna-container">
    <div class="row">
      <div class="col-4">
        <div class="footer-contact">
          <div class="footer-title">
            <h3>Liên hệ</h3>
          </div>
          <ul class="footer-contact__title">
            <li><i class="fas fa-map-marker-alt"></i>20 PHẠM VĂN ĐỒNG,CẦU GIẤY,HÀ NỘI </li>
            <li><i class="fas fa-mobile-alt"></i>0388891700 </li>
            <li><i class="far fa-envelope"></i>annashop123@gmail.com </li>
          </ul>
          <ul class="footer-contact__title">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <div class="footer-support">
          <div class="footer-title">
            <h3>Hỗ trợ</h3>
          </div>
          <ul class="footer-contact__title">
            <li><a href="#">Trang chủ </a></li>
            <li><a href="#">Liên hệ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <div class="footer-product">
          <div class="footer-title">
            <h3>Sản phẩm</h3>
          </div>
          <ul class="footer-contact__title">
            <li><a href="#">Áo dài truyền thống </a></li>
            <li><a href="#">Áo dài truyền thống </a></li>
            <li><a href="#">Áo dài cách tân nam </a></li>
            <li><a href="#">Áo dài cưới </a></li>
            <li><a href="#">Áo dài cô ba sài gòn </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>