extends base/layout.pug
block title
  title Cart
block header
  include components/header.pug
block content
  .spacing
  +title({content: "Cart"})
  .cart
    .mode-container
      .cart-table
        table
          thead
            tr
              th
              th Name
              th Quantity
              th Price
          tbody
            each item in clothings.slice(0,3)
              tr
                td
                  img(src=item.image, alt="Image")
                td 
                  p= item.name
                  .cart-select.-has-label
                    label Sizes
                    select
                      option(value="1") M
                      option(value="2") L
                      option(value="3") XL
                  .cart-select.-has-label
                    label Colors
                    select
                      option(value="1") White
                      option(value="2") Red
                      option(value="3") Blue
                td
                  .cart-select
                    select
                      option(value="1") 1
                      option(value="2") 2
                      option(value="3") 3
                td= item.price
                td
                  a(href="#")
                    i.far.fa-times
      .cart-footer
        .cart-footer__total
          p Total
            span 120$
        .cart-footer__button
          a(href="shop-clothings.html") Return to shop
          a(href="checkout.html") Checkout