extends base/layout.pug
block title
  title Cart
block header
  include components/header.pug
block content
  .spacing
  +title({content: "Cart"})
  .cart
    .mode-container
      .cart-table
        table
          thead
            tr
              th
              th Name
              th Quantity
              th Price
          tbody#cart-body
      .cart-footer
        .cart-footer__total
          p#cart-total Total
            span
        .cart-footer__button
          a(href="shop-clothings.html") Return to shop
          a(href="checkout.html") Checkout