extends base/layout.pug
block title
  title Cart
block header
  include components/header.pug
block content
  .spacing
  .checkout-complete
    .mode-container
      .row
        .col-8.mx-auto
          .checkout-complete-content
            h3 Thanks for shopping!
            p Your support has helped us tremendously, thanks a lot!
            p Your package will arrive in 2 days. You can continue shopping by clicking the button below. 
            a(href="shop-clothing.html") Return to shop