extends base/layout.pug
block title
  -var story=['av1.png', 'av2.png', 'av3.png', 'av4.png', 'av5.png', 'av4.png', 'av2.png']
  title Homepage 1
block header
  include components/header.pug
block content
  include components/banner.pug
  section.categories
    .mode-container
      +title({content: 'Products'})
      a(href="shop-clothing.html" style="background-image: url('assets/images/categories-1.png')").categories-item
        span Clothing
      .empty
      a(href="shop-accessories.html" style="background-image: url('assets/images/categories-2.png')").categories-item
        span ACCESSORIES
  section.collection
    .mode-container
      +title({content: 'Products'})
      .row
        .col-6
          a(href="shop-clothing.html" style="background-image: url('assets/images/collection-1.png')").categories-item
            span Clothing
        .col-6
          a(href="shop-accessories.html"  style="background-image: url('assets/images/collection-2.png')").categories-item
            span ACCESSORIES
  section.story
    .mode-container
      +title({content: 'HUMANS OF MODE', style: 'color: #fff'})
      .story-content
        .story-slide
          each item in story
            .slide-item
              img(src=`assets/images/${item}`, alt="image")
        p We have 168 suppliers who use 713 factories around the world. We’re serious about making sure every single person in that supply chain is safe at work, respected and earns a living wage. We set high ethical standards and support our suppliers to help them meet them. 