extends base/layout.pug
block title
  title Product detail
block header
  include components/header.pug
block content
  .spacing
  #product-detail
  .also-like
    .mode-container
      +title({content: 'You may also like'})
      .row
        each item in clothings.slice(0,6)
          .col-4
            +product({id: item.id ? item.id : 0, className: productClass, discount: item.discount, image: item.image,name: item.name, price: item.price, status: item.status, rate: item.rate})