extends base/layout.pug
block title
  title Homepage 1
block header
  include components/header.pug
block content
  .spacing
  +title({content: 'Products'})
  +shopLayout({title: 'Accessories', data: accessories})