extends base/layout.pug
block title
  title Wishlist
block header
  include components/header.pug
block content
  .spacing
  +title({content: "Wishlist"})
  .cart
    .mode-container
      .cart-table
        table
          thead
            tr
              th
              th Name
              th Quantity
              th Price
          tbody#wishlist-body
      .cart-footer
        .cart-footer__total
          p#wishlist-total Total
            span 120$
        .cart-footer__button
          a(href="shop-clothing.html") Return to shop
          a(href="#") Add all to cart