.projects {
    .projects_content {
        .button-group {
            display: block;
            text-align: center;
            margin-bottom: 50px;

            .tabs-button {
                display: inline-block;
                border-bottom: 1px solid setScheme(light);
            }

            a {
                @include link($fsz:24px, $color: setScheme(medium), $hvr-color: $base);
                display: inline-block;
                padding: 0 30px;
                border-bottom: 2px solid transparent;
                font-weight: 600;

                &.active {
                    color: $base;
                    border-bottom: 2px solid $base;
                }

                @include mq(mobile) {
                    margin-bottom: 10px;
                }
            }
        }

        .grid {
            display: flex;
            margin: 0 -15px;

            .element-item {
                flex: 1 1 50%;
                width: 50%;
                height: 295px;
                padding: 0 15px;
                margin-bottom: 30px;


                &:hover {
                    .project-item {
                        .project-detail {
                            top: 0;
                        }
                    }
                }

                .project-item {
                    position: relative;
                    display: block;
                    overflow: hidden;
                    box-shadow: 8px 8px 21px 0px rgba(0, 0, 0, 0.16);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .project-detail {
                        background-color: rgba(57, 209, 142, 0.8);
                        position: absolute;
                        top: -100%;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                        h5 {
                            @include typo($fsz:30px, $lh: 1, $color:#fff, $fw:600, $tt:true);
                            padding: 0 30px;
                            text-align: center;
                        }

                        @include mq(tablet) {
                            top: 0;

                            h5 {
                                font-size: 22px;
                            }
                        }
                    }
                }

                @include mq(mobile) {
                    height: 100px;

                    .project-item {
                        height: 100%;
                    }
                }

            }
        }
    }
}