* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: purple;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.kanban-board-header {
  margin-top: 50px;
  margin-bottom: 75px;
  text-align: center;
}

.kanban-board-header h1 {
  font-size: 50px;
  color: #fff;
}

.kanban-board-body .kanban-board-body_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.kanban-board-body .kanban-board-body_wrapper .col {
  display: inline-table;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 52px 3px rgba(0, 0, 0, 0.37);
          box-shadow: 5px 5px 52px 3px rgba(0, 0, 0, 0.37);
  border-radius: 5px;
  overflow: hidden;
}

.kanban-board-body .kanban-board-body_wrapper .col .list-header {
  padding: 10px 15px;
  background-color: #06a4ff;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.kanban-board-body .kanban-board-body_wrapper .col .list-items {
  padding: 15px;
}

.kanban-board-body .kanban-board-body_wrapper .col .list-items .item {
  cursor: move;
  list-style: none;
  border: 1px solid #dedede;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  font-size: 16px;
  color: #333;
  word-break: break-all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.kanban-board-body .kanban-board-body_wrapper .col .list-items .item span {
  margin-left: 10px;
  cursor: pointer;
  color: #666;
}

.kanban-board-body .kanban-board-body_wrapper .col .list-items .item span:hover {
  color: red;
}

.kanban-board-body .kanban-board-body_wrapper .col .list-items .item.ui-sortable-helper {
  border-color: green;
}

.kanban-board-body .kanban-board-body_wrapper .col .list-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #ddd;
  overflow: hidden;
}

.kanban-board-body .kanban-board-body_wrapper .col .list-add input {
  border: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 40px;
  border-right: 1px solid #fff;
  padding: 0 20px;
  font-size: 16px;
}

.kanban-board-body .kanban-board-body_wrapper .col .list-add input:focus {
  outline: 0;
}

.kanban-board-body .kanban-board-body_wrapper .col .list-add button {
  height: 40px;
  padding: 0 30px;
  border: 0;
  background-color: #ddd;
  cursor: pointer;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}
