.user-infomation img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 999px;
  margin-bottom: 30px;
}

.user-infomation h3 {
  font-size: 25px;
  color: #fff;
  margin-bottom: 50px;
}

.user-infomation .bank-balance-box {
  background-color: #fff;
  border-radius: 15px;
  padding: 30px 110px 25px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 4px 33px -4px rgba(0, 0, 0, 0.15);
}

.user-infomation .bank-balance-box h1 {
  color: #999;
  font-size: 50px;
  margin-bottom: 10px;
}

.user-infomation .bank-balance-box h5 {
  color: #999;
  font-size: 18px;
}
