.withdraw-btn {
  background-color: #fff;
  padding: 20px 50px;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 25px;
  color: rgb(255, 146, 164);
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 15px;
  margin-right: 15px;
}

.withdraw-btn:hover {
  background-color: rgb(255, 146, 164);
  color: #fff;
}

.withdraw-btn:focus {
  background-color: rgb(255, 146, 164);
  color: #fff;
  outline: 0;
}
