* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

ul,li {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.nav-top {
    background: rgba(0,0,0,.03);
    height: 25px;
}

.nav-top ul {
	text-align: right;
}

.nav-top ul li {
	display: inline-block;
}

.nav-top ul li a {
    font-size: 12px;
    line-height: 25px;
    text-align: left;
    color: #9e9e9e;
    transition: color .2s;
    padding: 0 17px;
}

.nav-top ul li a.blue {
	color: #0f1568;
}
nav {
	padding: 11px 0;
}
nav .logo {
	display: inline-block;
    width: 200px;
    height: 39px;
}

nav .logo img {
	width: 127px;
    height: 40px;
}

nav .search-box {
    width: 688px;
    display: inline-block;
    height: 45px;
    position: relative;
    margin-right: 40px;
}

nav .search-box input {
    width: 100%;
    height: 100%;
    padding: 13px 19px;
    font-family: Roboto-Regular,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0;
    color: #212121;
    border: none;
    outline: none;
    background: #eff0f5;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
}
nav .search-box button {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 0 2px 2px 0;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    transition: 0.2s ease-out;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #f57224;
    color: #fff;
}

nav .cart-icon {
	color: #0f1568;
	font-size: 30px;
    height: 38px;
    width: 40px;
    display: block;
}

.banner .menu,.menu1,.menu2{
  background-color: white;
  width: 200px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.25);
}

.banner {
	background-image: url('image/banner.jpg');
	background-size: cover;
}

.banner .menu a:hover {
  color: white;
}

.banner .menu {
  position: relative;
}

.banner .menu > ul li {
	text-transform: capitalize;
}

.banner ul > li:hover > a{
	background-color: #eceff1;
}

.banner ul li ul {
  height: 100%;
} 

.banner .menu > ul > li:hover > a{
	color: #f57224;
}

.banner .menu > ul > li > a, .banner .menu .menu1 > li > a, .banner .menu .menu2  > li > a {
    font-size: 13px;
    line-height: 27px;
    color: #757575;
    cursor: pointer;
    display: block;
    padding: 0 10px;
}

.banner .menu > ul > li > .menu1 > li a > i {
  display: none;
}

.banner .menu > ul > li > .menu1 > li a:hover {
	color: #f57224;
}

.banner .menu .menu1 {
  position: absolute;
  left: 200px;
  top: 0;
  display: none;
}

.banner .menu .fa-angle-right{
  float:right;
  display: none;
  line-height: 25px;
}

.banner .menu li:hover .fa-angle-right{
  display:block;
}

.banner .menu li:hover .menu1 {
  display: block;
}

.banner .menu .menu1 .menu2 {
  position: absolute;
  left: 200px;
  top: 0;
  display: none;
}

.banner .menu .menu1 li:hover .menu2 {
  display: block;
}
