extends base/layout.pug
block title
  title Áo dài cưới
block header
  include components/header.pug
block content
  .spacing
  +shopLayout({title: 'Áo dài cưới', href: 'adc-detail.html', url: 'ao-dai-cuoi', currentPage: 2, data: adc.slice(12, 20), disableNext: true})