extends base/layout.pug
block title
  title Áo dài cách tân nữ
block header
  include components/header.pug
block content
  .spacing
  +shopLayout({title: 'Áo dài cách tân nữ', href: 'adctn-detail.html', url: 'ao-dai-cach-tan-nu', data: adctnu.slice(12,20), currentPage: 2, disableNext: true})