extends base/layout.pug
block title
  title Áo dài truyền thống
block header
  include components/header.pug
block content
  .spacing
  +shopLayout({title: 'Áo dài truyền thống', currentPage: 2, data: adtt.slice(12, 20), disableNext: true})