extends base/layout.pug
block title
  title Áo dài cô ba sài gòn
block header
  include components/header.pug
block content
  .spacing
  +shopLayout({title: 'Áo dài cô ba sài gòn', url: 'ao-dai-co-ba-sai-gon', data: adcbsg.slice(0, 12), disablePrev: true})