extends base/layout.pug
block title
  title Áo dài truyền thống
block header
  include components/header.pug
block content
  .spacing
  +shopLayout({title: 'Áo dài truyền thống', data: adtt.slice(0, 12), disablePrev: true})