extends base/layout.pug
block title
  title Áo dài cách tân nam
block header
  include components/header.pug
block content
  .spacing
  +shopLayout({title: 'Áo dài cách tân nam', href: 'adctnam-detail.html', url: 'ao-dai-cach-tan-nu', data: adctnam, disablePagination: true})