extends base/layout.pug
block title
  title Áo dài cách tân name
block header
  include components/header.pug
block content
  .spacing
  +shopLayout({title: 'Áo dài cách tân name', url: 'ao-dai-cach-tan-nu', data: adctnam, disablePagination: true})