extends base/layout.pug
block title
  title Homepage 1
block header
  include components/header.pug
block content
  .spacing
  .about
    .anna-container
      .about-wrapper
        +title({content: 'Giới thiệu'})
        .about-section
          .row.justify-content-between.align-items-center
            .col-6
              p Trên thế giới, mỗi quốc gia đều có một trang phục dân tộc của riêng mình. Từ xưa đến nay, chiếc áo dài đã trở thành trang phục truyền thống của người phụ nữ Việt Nam.Cũng như các nhà văn, nhà thơ, họa sĩ đã từng yêu chiếc áo dài. Ngày nay có nhiều kiểu áo thời trang của nước ngoài du nhập vào nước ta, nhưng trang phục truyền thống, chiếc áo dài dân tộc vẫn là một biểu tượng đẹp của người phụ nữ Việt Nam.
            .col-4
              img(src="assets/images/i1.png", alt="about image")
        .about-section
          .row.justify-content-between.align-items-center
            .col-4
              img(src="assets/images/i2.png", alt="about image")
            .col-6
              p Đến với Áo dài ANNA quý khách có thể tha hồ lựa chọn vải theo sở thích, theo yêu cầu ngành nghề và được thiết kế, may đo bởi các thợ may đã có nhiều năm kinh nghiệm trong nghề. Áo Dài không chỉ là một trang phục, mà còn là một tác phẩm nghệ thuật tuyệt vời của dân tộc. Với phương châm "Chất lượng là yếu tố hàng đầu", từ khi bắt đầu hoạt động đến nay, Áo dài ANNA luôn nỗ lực đầu tư vào trang phục Áo dài, tinh xảo từ thiết kế cho tới đường may, chọn mua những loại vải cao cấp, ngoại nhập và không ngừng nâng cao, cải thiện chất lượng dịch vụ, tạo dựng uy tín vững chắc, ngày càng phục vụ khách hàng tốt hơn nữa.
