extends base/layout.pug
block title
  title Khuyến mại
block header
  include components/header.pug
block content
  .spacing
  +title({content: 'Sản phẩm khuyến mại'})
  .shop-products
    .anna-container
      .row
        each item in discount
          .col-4
            +product({name: item.name, discount: item.discount, image: item.image, price: item.price})