@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.mode-container {
  max-width: 960px;
  @include make-container($gutter: 30px);
}

.mode-container-wide {
  max-width: 1100px;
  @include make-container($gutter: 30px);
}

.mode-container-full {
  max-width: 1170px;
  @include make-container(0);
  @include media-breakpoint-down(md) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
