.cart {
  margin-bottom: $section-spacing;
  &-select {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &.-has-label {
      width: 250px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    select {
      width: 90px;
      height: 30px;
    }
  }
  &-table {
    table {
      width: 100%;
      border-bottom: 1px solid #000;
      thead {
        tr {
          th {
            @include typo($fsz: 21px, $fw: 600);
          }
        }
      }
      tbody {
        tr {
          td {
            padding: 15px;
            &:first-child {
              padding-left: 0;
              img {
                @include imgCenter($height: 255px, $width: 255px);
              }
            }
            &:nth-child(2) {
              vertical-align: top;
              p {
                @include typo($fsz: 21px);
                margin-bottom: 30px;
              }
              a {
                height: 40px;
                padding: 0 30px;
                @include link($fsz: 12px, $color: #fff, $lh: 40px, $up: true);
                display: inline-block;
                background-color: #000;
              }
            }
            &:nth-child(3) {
              vertical-align: top;
              .cart-select {
                margin-top: 50px;
              }
            }
            &:nth-child(4) {
              vertical-align: top;
              padding-top: 65px;
              @include typo($fsz: 18px);
            }
            &:nth-child(5) {
              vertical-align: top;
              margin-top: 50px;
              padding-top: 65px;
              padding-right: 0;
              button {
                background: transparent;
                border: 0;
                @include link($fsz: 18px);
              }
            }
          }
        }
      }
    }
  }
  &-footer {
    &__total {
      text-align: right;
      padding: 15px 50px 15px;
      margin-bottom: 30px;
      p {
        @include typo($fsz: 24px);
        span {
          padding-left: 30px;
        }
      }
    }
    &__button {
      text-align: right;
      a {
        height: 43px;
        padding: 0 30px;
        @include link($fsz: 21px, $hvr-color: #fff, $lh: 43px, $up: true);
        display: inline-block;
        &:first-child {
          background-color: #09ada8;
          margin-right: 10px;
        }
        &:last-child {
          background-color: #00aa5b;
        }
      }
    }
  }
}
