.contact-us {
  &-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    background: {
      size: cover;
      position: center;
    }
    h1 {
      @include typo($fsz: 40px, $color: #fff, $up: true);
    }
  }
  &-section {
    &:nth-child(1) {
      .contact-us-banner {
        background-image: url("../images/cu-bg-1.png");
      }
      .contact-us-content {
        padding: 60px 0;
        p {
          @include typo($fsz: 14px, $lh: 17px);
          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }
        ul {
          list-style: none;
          li {
            @include typo($lh: 22px);
          }
        }
      }
    }
    &:nth-child(2) {
      .contact-us-banner {
        background-image: url("../images/cu-bg-2.png");
      }
      .contact-us-content {
        padding: 60px 0;
        p {
          @include typo($fsz: 14px, $lh: 17px);
          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }
        ul {
          list-style: none;
          li {
            &:not(:last-child) {
              margin-bottom: 10px;
            }
            a {
              @include link($lh: 22px, $fw: 500);
              i {
                height: 30px;
                width: 30px;
                background-color: #000;
                color: #fff;
                text-align: center;
                line-height: 30px;
                border-radius: 999px;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
    &:nth-child(3) {
      .contact-us-banner {
        background-image: url("../images/cu-bg-3.png");
      }
      .contact-us-content {
        padding: 60px 0;

        .add-block {
          margin-bottom: 30px;
          h5 {
            @include typo($fsz: 14px, $up: true);
            margin-bottom: 15px;
          }
          p {
            @include typo($fsz: 14px, $lh: 17px);
            &:not(:last-child) {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}
