.product-detail {
  margin-bottom: $section-spacing;
  &-image {
    img {
      @include imgCenter;
    }
    &__big {
      margin-bottom: 20px;
    }
    &__small {
      display: flex;
      justify-content: space-between;
      width: 100%;
      img {
        width: 22%;
      }
    }
  }
  &-content {
    .product-detail {
      &-name {
        @include typo($fsz: 24px);
        margin-bottom: 6px;
      }
      &-code {
        @include typo($fsz: 14px);
        margin-bottom: 20px;
      }
      &-price {
        margin-bottom: 40px;
        h5 {
          @include typo($fsz: 18px);
          margin-bottom: 5px;
        }
        span {
          @include typo($fsz: 14px, $color: #00ff33);
        }
      }
      &-select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        label {
          @include typo();
        }
        select {
          width: 90px;
          height: 25px;
          font-size: 14px;
        }
      }
      &-btn {
        margin-bottom: 30px;
        a {
          height: 40px;
          background-color: #000;
          text-align: center;
          display: inline-block;
          border: 1px solid #000;
          @include link($fsz: 14px, $lh: 40px, $color: #fff);
          &:first-child {
            width: 235px;
            margin-right: 10px;
            i {
              margin-right: 10px;
            }
          }
          &:last-child {
            width: 40px;
            background-color: transparent;
            color: #000;
          }
        }
      }
      &-description {
        h3 {
          @include typo($fsz: 24px);
          margin-bottom: 30px;
        }
        p {
          @include typo($fsz: 14px, $lh: 17px);
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

.also-like {
  margin-bottom: $section-spacing;
  .section-title {
    h5 {
      font-size: 30px;
    }
  }
  .product {
    margin-bottom: 30px;
  }
}
