mixin post(props = {})
  -var {title, description, image} = props;
  .post
    .post-image
      img(src=image, alt="Post image")
    .post-content
      a(href="https://baoquocte.vn/ao-dai-bieu-tuong-van-hoa-gan-voi-hinh-tuong-phu-nu-viet-nam-119042.html")= title
      p= description