* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}
.container {
	width: 630px;
	height: 630px;
	text-align: center;
}

.img-box {
	height: 200px;
	width: 200px;
	border: 5px solid white;
	outline: 1px solid #ccc;
	background-color: red;
	margin: 5px;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.img-box img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: 0.3s ease-out;
}

.img-box img:hover  {
	transform: scale(1.3);
	transform-origin: center;
}

.heartbeat {
	max-width: 200px;
	animation: beat 2s infinite;
}

@keyframes beat{
	0% { transform: scale(1);}
	25% { transform: scale(1.1);}
	50% { transform: scale(1);}
	75% { transform: scale(1.2);}
	100% { transform: scale(1);}
}

.text-box {
	text-align: center;
	font-family: sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 60px;
}

.text-animation-box {
	position: relative;
	overflow: hidden;
}

.text-animation-box span {
	left: 50%;
	transform: translateX(-50%);
	color: white;
}

.learning {
	background-color: #4C9A2A;
	animation: learning 1.5s forwards;
	visibility: hidden;
}

@keyframes learning{
	from { visibility: visible;}
	to { visibility: hidden;}
}

.coding {
	background-color: #EC7216;
	position: absolute;
	bottom: 0;
	opacity: 0;
	animation: coding 1.5s forwards;
	animation-delay: 1.4s;
	z-index: 2;
}

@keyframes coding {
	0% { bottom: 100%; opacity: 1}
	50% { bottom: 0; opacity: 1}
	100% { bottom: -100%; opacity: 1 }
}

.teaching {
	background-color: violet;
	position: absolute;
	top: 100%;
	animation: teaching 1s forwards;
	animation-delay: 2.1s;
	z-index: 3;
} 

@keyframes teaching{
	to {top: 0}
}